:host {
	display: block;
    width: 100%;
}


.wrapper-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    h2{
        text-align: center;
        color: gray;
    }
}
